#lista {
    flex-wrap: wrap;
    display: flex;


}
#divMusica{
    display: flex;
    justify-content: center;
}


#digimon {
    margin: auto;
    width: 20%;
    border: 2px saddlebrown solid;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;   
    box-shadow: 2px 3px 10px;
   
}
#digimon:hover{
    transform:scale(1.1);
}
img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #lista {
        background-color: red;
        display: block;
    }

    #digimon {
        width: 100%;
        
    }
    span{
        font-size: 30px;
    }
}